
#

## All packages

In [3]:
import pandas as pd
import numpy as np

In [105]:
iris_ds=pd.read_csv("Iris.csv")
iris_ds

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [106]:
iris_ds=iris_ds.drop(columns=['Id'])
iris_ds

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
0              5.1           3.5            1.4           0.2     Iris-setosa
1              4.9           3.0            1.4           0.2     Iris-setosa
2              4.7           3.2            1.3           0.2     Iris-setosa
3              4.6           3.1            1.5           0.2     Iris-setosa
4              5.0           3.6            1.4           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
145            6.7           3.0            5.2           2.3  Iris-virginica
146            6.3           2.5            5.0           1.9  Iris-virginica
147            6.5           3.0            5.2           2.0  Iris-virginica
148            6.2           3.4            5.4           2.3  Iris-virginica
149            5.9           3.0            5.1           1.8  Iris-virginica

[150 rows x 5 columns]

In [80]:
iris_ds.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.0           3.6            1.4           0.2  Iris-setosa

In [7]:
iris_ds.dtypes

SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

In [185]:
#import seaborn as sns
#iris_ds.RM=iris_ds.RM.fillna(iris_ds.RM.mean())

AttributeError: 'DataFrame' object has no attribute 'RM'

In [7]:
import sys
!conda install --yes--prefix{sys.prefix}seaborn

usage: conda-script.py [-h] [-V] command ...
conda-script.py: error: unrecognized arguments: --yes--prefixC:\Users\User\Desktop\sample_project_1\envseaborn

In [8]:
import sys
!conda install --yes --prefix {sys.prefix} seaborn

Retrieving notices: ...working... done
Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: C:\Users\User\Desktop\sample_project_1\env

  added / updated specs:
    - seaborn


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    seaborn-0.12.2             |  py310haa95532_0         492 KB
    ------------------------------------------------------------
                                           Total:         492 KB

The following NEW packages will be INSTALLED:

  seaborn            pkgs/main/win-64::seaborn-0.12.2-py310haa95532_0



Downloading and Extracting Packages

seaborn-0.12.2       | 492 KB    |            |   0%
seaborn-0.12.2       | 492 KB    | 3          |   3%
seaborn-0.12.2       | 492 KB    | ####2      |  42%
seaborn-0.12.2       | 492 KB    | ########7  |  88%
seaborn-0.12.2       | 492 KB    | ########## | 100%



Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done

==> WARNING: A newer version of conda exists. <==
  current version: 23.1.0
  latest version: 23.3.1

Please update conda by running

    $ conda update -n base -c defaults conda

Or to minimize the number of packages updated during conda update use

     conda install conda=23.3.1

In [184]:
#import seaborn as sns
#iris_ds.RM=iris_ds.RM.fillna(iris_ds.RM.mean())

AttributeError: 'DataFrame' object has no attribute 'RM'

In [81]:
iris_ds.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.0           3.6            1.4           0.2  Iris-setosa

In [22]:
#from sklearn import preprocessing
#label_encoder=preprocessing.LabelEncoder()
#iris_ds['Species']=label_encoder.fit_transform(iris_ds['Species'])
#iris_ds

In [186]:
from sklearn.preprocessing import StandardScaler
X=iris_ds.drop('Species',axis=1)
y=iris_ds['Species']
X

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0              5.1           3.5            1.4           0.2
1              4.9           3.0            1.4           0.2
2              4.7           3.2            1.3           0.2
3              4.6           3.1            1.5           0.2
4              5.0           3.6            1.4           0.2
..             ...           ...            ...           ...
145            6.7           3.0            5.2           2.3
146            6.3           2.5            5.0           1.9
147            6.5           3.0            5.2           2.0
148            6.2           3.4            5.4           2.3
149            5.9           3.0            5.1           1.8

[150 rows x 4 columns]

In [210]:
from sklearn.model_selection import train_test_split
sc=StandardScaler()
X_train,X_test,y_train,y_test=train_test_split(X,y, test_size=0.2, random_state=33)
X_train=sc.fit_transform(X_train)
X_test=sc.transform(X_test)

In [188]:
X_train[:10]

array([[-0.24630602, -0.75743035,  0.30129184,  0.18734818],
       [ 1.05418975,  0.11234613,  0.58331228,  0.45340476],
       [-0.24630602, -0.53998623,  0.69612046,  1.11854623],
       [ 0.69950909,  0.32979025,  0.92173681,  1.51763111],
       [ 1.05418975,  0.11234613,  1.09094908,  1.6506594 ],
       [ 1.05418975, -0.10509799,  0.86533273,  1.51763111],
       [-0.00985224, -0.75743035,  0.80892864,  0.98551794],
       [-0.12807913, -0.10509799,  0.30129184,  0.05431989],
       [-0.95566734, -1.62720682, -0.20634496, -0.2117367 ],
       [-1.07389423,  0.11234613, -1.22161855, -1.40899133]])

In [207]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import GridSearchCV

In [208]:
lr=LogisticRegression(penalty='l2', solver='lbfgs', multi_class='auto')
lr.fit(X_train,y_train)
param_grid = {'C': [0.001, 0.01, 0.1, 1, 10]}
grid_search = GridSearchCV(lr, param_grid, cv=5)
grid_search.fit(X_train, y_train)
best_lr = grid_search.best_estimator_

y_preds=best_lr.predict(X_test)

In [196]:
from sklearn.metrics import accuracy_score

In [209]:
accuracy=accuracy_score(y_test,y_preds)
accuracy

1.0

In [202]:
lr.score(X_test,y_test)

0.9333333333333333

In [203]:
print("Accuracy : ", lr.score(X_test,y_test)*100)

Accuracy :  93.33333333333333

## saving model

In [11]:
import pickle

In [138]:
filename='irisdata.sav'
pickle.dump(lr,open(filename,'wb'))

In [139]:
load_model=pickle.load(open(filename,'rb'))

In [205]:
load_model.predict([[5.1,3.5,1.4,0.2]])

array(['Iris-virginica'], dtype=object)

In [143]:
iris_ds[:100]

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm          Species
0             5.1           3.5            1.4           0.2      Iris-setosa
1             4.9           3.0            1.4           0.2      Iris-setosa
2             4.7           3.2            1.3           0.2      Iris-setosa
3             4.6           3.1            1.5           0.2      Iris-setosa
4             5.0           3.6            1.4           0.2      Iris-setosa
..            ...           ...            ...           ...              ...
95            5.7           3.0            4.2           1.2  Iris-versicolor
96            5.7           2.9            4.2           1.3  Iris-versicolor
97            6.2           2.9            4.3           1.3  Iris-versicolor
98            5.1           2.5            3.0           1.1  Iris-versicolor
99            5.7           2.8            4.1           1.3  Iris-versicolor

[100 rows x 5 columns]